.article_color__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.article_color__item {
  display: flex;
  padding: 4px 0;
}
.article_color__circle {
  width: 24px;
  height: 24px;

  border-radius: 50%;
}
.article_color__description {
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  padding-left: 8px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 22px;
}

.circle_blue {
  background-color: var(--blue-color);
}

.circle_green {
  background-color: var(--green-color);
}

.circle_yellow {
  background-color: var(--yellow-color);
}

.circle_red {
  background-color: var(--red-color);
}

.circle_midnight {
  background-color: var(--midnight-color);
}

.circle_light {
  background-color: var(--light-color);
  border: 1px solid #d9d9d9;
}

.circle_white {
  background-color: var(--white-color);
  border: 1px solid #d9d9d9;
}

.circle_gray {
  background-color: var(--gray-color);
}

.circle_black {
  background-color: var(--black-color);
}
