.article_images {
  display: flex;
  flex-wrap: wrap;
}
.article_images__child {
  position: relative;
  margin: 10px;
}

.image {
  height: 100px;
  width: 100px;
}
.image_rectangle {
  border-radius: 5px;
}
.image_circle {
  border-radius: 50%;
}
.image_shadow {
  box-shadow: 0px 5px 8px var(--gray-color);
}
